<!DOCTYPE html>

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <main class="container">
        <!-- Completer la page A propos -->
        <h1 class="text-center">A propos</h1>
        <p></p>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>