<!DOCTYPE html>
<html lang="fr" class="h-100">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <main class="container">
        <!-- Completer la page A propos -->
        <h1 class="text-center">A propos</h1>
        <div class="col-md col-sm">
            <div class="card m-2 p-1">
                <div class="card-body">
                    <h3 class="h5 card-title">Présentation</h3>
                    <p class="card-text">
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper urna ac libero dapibus, nec luctus enim aliquam. Morbi et urna at leo mattis finibus. Mauris velit nisl, tincidunt a auctor sed, malesuada commodo ex. Proin volutpat eleifend sollicitudin. Integer ac diam ipsum. Morbi sodales tempor est, ut condimentum tortor imperdiet ut. Integer placerat, ipsum vitae pulvinar sodales, nulla lorem fermentum elit, eget luctus risus dolor a tellus. Vivamus luctus sapien turpis, ac fermentum tortor faucibus sed. In varius, mi ut finibus dictum, dolor eros congue orci, nec maximus diam ante ac lacus. Sed mollis interdum nunc id lacinia. Quisque convallis urna in risus pharetra sodales.
</p>
<p>
Phasellus vulputate venenatis quam, porta malesuada justo placerat at. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut nisl felis, facilisis ac mauris vel, volutpat tincidunt felis. Curabitur pellentesque ante diam, sit amet aliquam dolor tincidunt sit amet. In id diam in diam suscipit pellentesque nec tempor nulla. Donec nunc arcu, posuere vel sagittis sed, sodales vel enim. Nam nec urna sit amet libero hendrerit luctus at nec nibh. Morbi vitae ligula lacinia, posuere ligula nec, pellentesque velit. Donec semper tortor eros, nec posuere ante congue at. Proin quis luctus libero. Maecenas suscipit varius venenatis. Proin id tortor eget nisl tempus tincidunt.
</p>
<p>
Nulla euismod finibus accumsan. Integer viverra dolor eu ornare tincidunt. Nunc fermentum tellus velit, tincidunt dignissim ipsum vestibulum vitae. Ut vitae neque eget erat luctus finibus. Quisque sit amet dolor nec eros gravida luctus id et orci. In vitae sollicitudin metus. Morbi pulvinar efficitur diam. Vestibulum bibendum turpis ac sapien commodo sagittis. Aenean sed hendrerit mauris, ut rutrum odio. In fermentum, ante sit amet scelerisque faucibus, felis augue scelerisque metus, eu tristique nibh dolor eget sem.
</p>
<p>
Donec vitae leo sit amet sem faucibus consequat. Pellentesque magna massa, mollis a tempor id, pretium vitae tortor. Praesent tincidunt ex in justo scelerisque interdum id sit amet ex. Quisque risus dolor, convallis et urna sit amet, semper viverra nisi. Donec eget ultrices purus. Donec et porttitor augue. Donec et gravida elit. Donec rhoncus bibendum pharetra. Nullam pellentesque mi commodo magna vehicula, ac volutpat neque rhoncus. Vivamus tempus eros at auctor sollicitudin. Etiam semper molestie quam et posuere. Etiam et lacus vitae lectus tincidunt rhoncus nec dictum erat. Integer lobortis id diam varius eleifend. Integer accumsan est in metus faucibus, ultrices condimentum lacus pellentesque.
</p>
<p>
Suspendisse potenti. Morbi egestas dignissim ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nisi lorem, efficitur vel interdum ut, viverra quis dolor. Donec dictum eleifend dolor non vestibulum. Praesent iaculis mi vel convallis laoreet. In dapibus dolor lectus, ac gravida tortor dignissim eu. Integer rhoncus congue neque, vitae rhoncus est bibendum facilisis. Vivamus nulla magna, feugiat elementum risus sit amet, cursus aliquet enim. Curabitur nec risus in neque pellentesque blandit. Aenean et nisi commodo, finibus sapien vel, mattis erat. Vivamus placerat, dui vel tempus dictum, nunc lorem consequat nisl, id accumsan nulla sem eu eros. 
</p>
                    </p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>