<!DOCTYPE html>

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <main class="container pb-5">
        <!-- Completer la page Index -->
        <h1 class="text-center">Accueil</h1>
        <div class="row mx-auto">
            <div class="col-md col-lg-3 col-sm-6">

            <div class="card m-2 p-1">
                <div class="card-body">
                    <h3 class="h5 card-title">Horaires</h3>
                    <p class="card-text">
                    <ul>
                        <li>Lundi : 9h15 - 18h45</li>
                        <li>Mardi : 9h15 - 18h45</li>
                        <li>Mercredi : 10h15 - 17h45</li>
                        <li>Jeudi : 9h15 - 18h45</li>
                        <li>Vendredi : 9h15 - 18h45</li>
                    </ul>
                    </p>
                </div>
            </div>
            <div class="card m-2 p-1">
                <div class="card-body">
                    <h3 class="h5 card-title">Adresse</h3>
                    <p class="card-text">
                        1 allée de BootStrap, 31500 Node.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md col-sm">
            <div class="card m-2 p-1">
                <div class="card-body">
                    <h3 class="h5 card-title">Plan d'accès</h3>
                    <p class="card-text">
                        <img src="https://static.vecteezy.com/system/resources/previews/000/151/265/large_2x/cartoon-map-vector.png" class="card-img-top" style="max-height: 20rem; object-fit: cover;" alt="...">
                    </p>
                </div>
            </div>
        </div>
    </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>